annotated-types==0.7.0
bcrypt==4.2.0
boolean.py==4.0
CacheControl==0.14.0
certifi==2024.7.4
cffi==1.16.0
charset-normalizer==3.3.2
cryptography==43.0.0
cyclonedx-python-lib==7.5.1
defusedxml==0.7.1
dnspython==2.6.1
email_validator==2.2.0
filelock==3.15.4
html5lib==1.1
idna==3.7
license-expression==30.3.0
markdown-it-py==3.0.0
mdurl==0.1.2
msgpack==1.0.8
packageurl-python==0.15.6
packaging==24.1
pip-api==0.0.34
pip-requirements-parser==32.0.1
pip_audit==2.7.3
py-serializable==1.1.0
pycparser==2.22
pydantic==2.8.2
pydantic_core==2.20.1
Pygments==2.18.0
pyparsing==3.1.2
requests==2.32.3
rich==13.7.1
six==1.16.0
sortedcontainers==2.4.0
toml==0.10.2
typing_extensions==4.12.2
urllib3==2.2.2
webencodings==0.5.1
